<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Home</title>
    <link rel="stylesheet" href="../css/black-home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="agua">
            <p>AQUA</p><i class="fa-solid fa-droplet"></i>
        </div>
        <div class="texts">
            <p>INICIO</p>
            <P>CÓMO JUGAR</P>
            <p>APÓYANOS</p>
            <p>SOBRE NOSOTROS</p>
        </div>
        <div class="ligth">
            <a href=""><i class="fa-solid fa-moon"></i></a>
            <a href=""><i class="fa-solid fa-sun"></i></a>
        </div>
    </header>
    <main>
        <div class="CRAE">
            <img src="../stora/img/CRAE.png" alt="">
            <h1>Somos creatividad, somos Crae</h1>
            <p>Crae es un juego de cartas inclusivo donde personas videntes, no videntes y con discapacidad visual pueden participar y disfrutar en conjunto.</p>
        </div>
        <div class="shop">
            <img src="../stora/img/CARDS.png" alt="">
            <p><i class="fa-solid fa-cart-shopping"></i>Comprar</p>
        </div>
        <div class="social">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-kickstarter"></i>
        </div>
        
    </main>
</body>
</html>