@import url(../css/variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-2);
}
.water{
    background-color: var(--color-1);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 96px;
    border-radius: 48px;
    margin-left: -43px;
    margin-top: 22px;
}
.water p {
    font-family: "Roboto-Regular";
    font-size: 48px;
    margin-right: 10px;
    color: var(--color-2);
}
.water i {
    font-size: 48px;
    color: var(--color-5);
}
.texts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: aquamarine;
    width: 732px;
    height: 38px;
    margin-top: 80px;
    margin-left: 397px;
}
.texts p {
    font-family: "Roboto-Bold";
    font-size: 24px;
    color: var(--color-1);
}
.texts a {
    text-decoration: none;
}
.ligth {
    background-color: blue;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100px;
    align-items: center;
    margin-top: 76px;
    margin-left: 1300px;
    font-size: 35px;
}
.moon {
    color: var(--color-1);
    
}
.sun {
    color: var(--color-6);
    
}
.CRAE {
    background-color: blueviolet;
    position: absolute;
    margin-top: 171px;
    margin-left: 100px;
    width: 707px;
}
.CRAE img {
    width: 707px;
    height: 391px;
}
.CRAE h1 {
    background-color: brown;
    margin-top: 26px;
    width: 707px;
    height: 71px;
    font-family: "Roboto-Regular";
    font-size: 56.4px;
    color: var(--color-1);
}
.CRAE p {
    font-family: "Roboto-Regular";
    font-size: 26px;
    margin-top: 13px;
    width: 685px;
    height: 91px;
    color: var(--color-1);
}
.shop {
    background-color: green;
    position: absolute;
    margin-top: 171px;
    margin-left: 842px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop img {
    width: 405.12;
    height: 432.07;
}
.shop P {
    width: 237px;
    height: 54px;
    background-color: var(--color-1);
    font-family: "Roboto-Bold";
    font-size: 40px;
    color: var(--color-2);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop i {
    font-size: 30px;
    margin-right: 10px;
}
.social {
    background-color: blue;
    position: absolute;
    margin-top: 499px;
    margin-left: 1337px;
    width: 82px;
    height: 218px;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 72px;
    color: var(--color-1);
}
.play {
    background-color: red;
    position: absolute;
    width: 654px;
    height: 258px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 819px;
    margin-left: 393px;
}
.play h1 {
    font-family: "Roboto-Bold";
    font-size: 64px;
    color: var(--color-1);
}
.play p {
    margin-top: 41px;
    font-family: "Roboto-Regular";
    font-size: 36px;
    text-align: center;
    color: var(--color-1);
}
.point1 {
    position: absolute;
    margin-top: 1118px;
    margin-left: 169px;
    background-color: chartreuse;
    width: 1099px;
    height: 187px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.point1 h1 {
    font-family: "Roboto-Bold";
    font-size: 64px;
    color: var(--color-2);
    background-color: var(--color-1);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.point1 p {
    background-color: cadetblue;
    width: 752px;
    height: 187px;
    font-family: "Roboto-Regular";
    font-size: 28px;
    color: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.point1 img {
    width: 162px;
    height: 162px;
}
.point2 {
    position: absolute;
    margin-top: 1388px;
    margin-left: 169px;
    background-color: chartreuse;
    width: 1088px;
    height: 143px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.point2 h1 {
    font-family: "Roboto-Bold";
    font-size: 64px;
    color: var(--color-2);
    background-color: var(--color-1);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.point2 p {
    background-color: cadetblue;
    width: 768px;
    height: 143px;
    font-family: "Roboto-Regular";
    font-size: 28px;
    color: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.point2 img {
    width: 141px;
    height: 141px;
}
.point3 {
    position: absolute;
    margin-top: 1578px;
    margin-left: 169px;
    background-color: chartreuse;
    width: 1090px;
    height: 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.point3 h1 {
    font-family: "Roboto-Bold";
    font-size: 64px;
    color: var(--color-2);
    background-color: var(--color-1);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.point3 p {
    background-color: cadetblue;
    width: 750px;
    height: 178px;
    font-family: "Roboto-Regular";
    font-size: 28px;
    color: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.point3 img {
    margin-bottom: 50px;
    width: 161px;
    height: 161px;
}
.point4 {
    position: absolute;
    margin-top: 1816px;
    margin-left: 169px;
    background-color: chartreuse;
    width: 1095px;
    height: 214px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.point4 h1 {
    font-family: "Roboto-Bold";
    font-size: 64px;
    color: var(--color-2);
    background-color: var(--color-1);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lists {
    position: absolute;
    background-color: cadetblue;
    width: 733px;
    height: 190px;
    margin-left: 140px;
    font-family: "Roboto-Regular";
    font-size: 28px;
    color: var(--color-1);
    display: flex;
    flex-direction: column;    
    align-items: center ;   
}
.point4 img {
    width: 150px;
    height: 150px;
}